body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.pizza-list {
    display: grid;
    gap: 20px;
}

.pizza {
    display: flex;
    background: #333;
    padding: 15px;
    border-radius: 10px;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.pizza img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px; /* Отступ между картинкой и текстом */
}

.pizza-text {
    text-align: left;
}

h1 {
    color: #ffcc00;
}
