body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 20px;
    font-weight: bold; /* Сделать весь текст жирным */
    font-size: 14px; /* Уменьшить размер текста */
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.shawerma-list {
    display: grid;
    gap: 20px;
}

.shawerma {
    display: flex;
    padding: 15px;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.shawerma img {
    width: 130px; /* Уменьшен размер картинок */
    height: auto;
    border-radius: 10px;
    margin-right: 15px; /* Отступ между картинкой и текстом */
}

.shawerma-text {
    text-align: left;
}

h2 {
    font-size: 12px; /* Сделать заголовок (название шавермы) больше */
}

p {
    font-size: 8px; /* Уменьшить размер текста для описания */
}

.price {
    display: inline-block;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 10px;
    color: #fff;
    font-size: 12px; /* Уменьшить размер текста для цены */
}

h1 {
    display: none;
}
