body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 20px; /* Увеличено пространство для удобства */
    font-weight: bold; /* Сделать весь текст жирным */
    font-size: 16px; /* Увеличен общий размер текста */
    display: flex;
    flex-direction: column; /* Элементы будут располагаться по вертикали */
    align-items: flex-start; /* Выравнивание по левому краю */
    height: 100vh; /* Высота на весь экран */
}

.container {
    max-width: 700px; /* Увеличено максимальное расстояние */
    width: 100%;
}

.shawerma-list {
    display: grid;
    gap: 20px; /* Увеличено расстояние между товарами */
}

.shawerma {
    display: flex;
    padding: 20px; /* Увеличены отступы внутри товара */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: flex-start; /* Текст будет выровнен слева */
}

.shawerma img {
    width: 160px; /* Увеличен размер картинок */
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* Отступ между картинкой и текстом */
}

.shawerma-text {
    text-align: left;
}

h2 {
    font-size: 16px; /* Увеличен размер шрифта для заголовка */
    line-height: 1.3; /* Уменьшено расстояние между строками заголовка */
    margin-bottom: 8px; /* Увеличено расстояние между заголовком и описанием */
}

p {
    font-size: 10px; /* Увеличен размер шрифта для описания */
    color: #888; /* Цвет описания */
    line-height: 1.3; /* Уменьшено расстояние между строками описания */
    margin-bottom: 8px; /* Увеличено расстояние между описанием и ценой */
    font-weight: 500; /* Небольшая жирность для описания */
}

.price {
    display: inline-block;
    background-color: #333;
    padding: 8px 16px;
    border-radius: 15px;
    margin-top: 10px; /* Увеличено расстояние между ценой и описанием */
    color: #fff;
    font-size: 12px; /* Увеличен размер шрифта для цены */
    font-weight: normal; /* Убрать жирность для цены */
}

h1 {
    display: none;
}
